<%- include header %>

<div>
    <% if (user && (user.name == post.name)) { %>
        <a class="submit" href="/edit/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">编辑</a>
        <a class="submit" href="/remove/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">删除</a>
    <% } %>
</div>
<br><br>
<div class="info">
    作者：<a href="/u/<%= post.name %>"><%= post.name %></a> |
    日期：<%= post.time.minute %>
    <% if (post.tags) {%>
        |
        标签:
        <% post.tags.forEach(function (tag, index) { %>
            <% if (tag) { %>
                <a href="/tags/<%= tag %>" class="tag"><%= tag %></a>
            <% } %>
        <% }) %>
    <% } %>
</div>
<div><%- post.post %></div>

<%- include comment %>
<%- include footer %>