<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<header class="header">
    <h1><%= title %></h1>
</header>
<div class="content clearfix">
    <ul class="ul">
        <li><a href="/">主页</a></li>
        <li><a href="/archive">存档</a></li>
        <li><a href="/tags">标签</a></li>
        <% if (user) { %>
        <li><a href="/upload">上传</a></li>
        <li><a href="/post">发表</a></li>
        <li><a href="/logout">登出</a></li>
        <% } else { %>
        <li><a href="/login">登录</a></li>
        <li><a href="/reg">注册</a></li>
        <% } %>
        <li>
            <form action="/search" method="GET" style="padding-top: 5px">
                <input type="text" name="keyword" placeholder="SEARCH" class="search">
                <input type="submit" value="搜索" class="submit" style="float: right;width: 55px">
                <div class="clearfix"></div>
            </form>
        </li>
    </ul>

    <article class="article">
        <% if (success) { %>
        <div><%= success %></div>
        <% } %>
        <% if (error) { %>
        <div><%= error %></div>
        <% } %>

<canvas></canvas>


<% posts.forEach(function (post, index) { %>
    <div>
        <h2><a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a></h2>
        <a href="/u/<%= post.name %>"><img src="<%= post.head %>" class="r_head"></a>
    </div>
    <div class="info">
        作者：<a href="/u/<%= post.name %>"><%= post.name %></a> |
        日期：<%= post.time.minute %>
        <% if (post.tags) {%>
        |
        标签:
            <% post.tags.forEach(function (tag, index) { %>
                <% if (tag) { %>
                    <a href="/tags/<%= tag %>" class="tag"><%= tag %></a>
                <% } %>
            <% }) %>
        <% } %>
        <% if (post.reprint_info.reprint_from) { %>
            <br>
            <a href="/u/<%= post.reprint_info.reprint_from.name %>/<%= post.reprint_info.reprint_from.day %>/<%= post.reprint_info.reprint_from.title %>">原文链接</a>
        <% } %>
    </div>
    <div class="post-content"><%- post.post %></div>
    <p class="info">
        阅读 : <%= post.pv ? post.pv : 0 %> |
        评论 : <%= post.comments.length %> |
        转载 :
        <% if (post.reprint_info.reprint_to) { %>
        <%= post.reprint_info.reprint_to.length %>
        <% } else { %>
        <%= 0 %>
        <% } %>
    </p>
<% }) %>


<script src="/public/javascripts/app/index.js"></script>

    </article>
    <div class="clearfix"></div>
</div>
<script src="/bower_components/jquery/jquery.min.js"></script>
</body>
</html>